*{
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fade-out, #img-h3 {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 5%;
    right: 48%;
    margin: auto;
    height: 10%;
}

#img-h1,#img-h2 {
    position: fixed;
    z-index: 1;
    width: 14%;
        
}
#img-h2 {
    right: 0;  
}
#lixi {
    display: flex;
    font-size: 14px;
    z-index: 1;
    line-height: 240px;
    font-weight: 600;
    color: #f5deb3;
}
#img-h3:hover {
    cursor: pointer;
}

@media (min-width:370px) and (max-width:1000px) {
    
    body {
        height: 600px;
    }
    .fade-out, #img-h3 {
        position: fixed;
        display: flex;
        z-index: 2;
        width: 16%;
        right: 42%;
        margin: auto;
        height: 10%;
    }
    #img-h1,#img-h2 {
        position: fixed;
        z-index: 1;
        width: 30%;
    }
    #img-h2 {
        right: 0;
    }
    #img-h3 {
        margin-top: 140px;
    }
}